<div class="points">
	<div class="point {{addActive 1}}">
		<div class="point-heart"></div>
	</div>
	<div class="line {{addActive 2}}"></div>
	<div class="point {{addActive 2}}">
		<div class="point-heart"></div>
	</div>
	<div class="line {{addActive 3}}"></div>
	<div class="point {{addActive 3}}">
		<div class="point-heart"></div>
	</div>
	<div class="line {{addActive 4}}"></div>
	<div class="point {{addActive 4}}">
		<div class="point-heart"></div>
	</div>
	<div class="line {{addActive 5}}"></div>
	<div class="point {{addActive 5}}">
		<div class="point-heart"></div>
	</div>
</div>
<div class="enter-words">
	<div class="enter-word">入驻协议</div>
	<div class="enter-word">
		<div>{{data.TagName}}</div>
		{{#if data.userType}}
			<div>(实名认证)</div>
		{{/if}}
	</div>
	<div class="enter-word">店铺经营信息</div>
	<div class="enter-word">店铺审核中</div>
	<div class="enter-word">审核结果</div>
</div>
